
.pokemon_tile {
    width: 128px;
    height: 128px;
}

.pokemon_tile_image {
    width: 75%;
    height: 75%;
    margin: auto;
    display: block;
}

.pokemon_tile_text {
    text-align: center;
}
